<mat-toolbar>
  <span>Pokemon caught list</span>
</mat-toolbar>
<div *ngIf="pokemonLocalStorageListService.caughtList$ | async as pokemonList">
  <section *ngIf="pokemonList.length === 0" class="no-pokemons">
    <div class="no-pokemons-image"></div>
    <h2>Your caught list is empty! I'm disappointed!</h2>
  </section>
  <div class="fx-container">
    <div
      fxLayout="column"
      fxLayout.gt-md="row wrap"
      fxLayoutAlign="start center"
      fxLayoutGap.gt-sm="16px grid"
      fxLayoutGap="16px"
    >
      <div fxFlex.gt-sm="25%" fxFlex="100%" *ngFor="let pokemon of pokemonList">
        <app-pokemon-item [pokemonName]="pokemon"></app-pokemon-item>
      </div>
    </div>
  </div>
</div>
